<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="styles/cart.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Julius+Sans+One&family=Carter+One&family=Nunito+Sans&family=Rubik+Mono+One&family=Roboto+Condensed:wght@700&family=Smooch&display=swap" rel="stylesheet">
        <script src="../src/js/cart.js"></script>
    </head>
    <body>
        <div></div>
        <%- include('navbar')%>
        <div class="prod">
            <h2>Cart</h2>
        </div>
         <section>
            <div class="cart">
                <div class="cartimg">
                    <img src="https://kadamindia.org/wp-content/uploads/2021/06/Combo-20.jpg" alt="Handmade Design">
     
                </div>
                <div class="cartdetails">
                    <h6>Kadam Haat Handmade Wall decor Combo (Natural)</h6>
                    <h5>$2999</h5>
     
                </div> 
                <div class="btns">
                    <button >+</button>
                    <button >-</button>
                    <button >Remove</button>
                </div>
             </div>
         </section>
         <section>
            <div class="cart">
                <div class="cartimg">
                    <img src="https://kadamindia.org/wp-content/uploads/2021/06/Combo-20.jpg" alt="Handmade Design">
     
                </div>
                <div class="cartdetails">
                    <h6>Kadam Haat Handmade Wall decor Combo (Natural)</h6>
                    <h5>$2999</h5>
     
                </div> 
                <div class="btns">
                    <button >+</button>
                    <button >-</button>
                    <button >Remove</button>
                </div>
             </div>
         </section>

         <section>
             <div class="cartsum">
                 <div class="cartT">
                 <h2>Cart Summary</h2>
                 </div><br><br>
                 <strong>Total</strong>
                 <h3 style="color:green">$5998</h3>
                 <span>Items</span>
                 <h4 style="color:green">2</h4>
                 <div class="btns">
                    <button>Purchase</button>
                </div>
             </div>
             
         </section>
        

    </body>
</html>