.navbar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.logo {
  float: left;
  justify-content: space-between;
}
.logo h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(47, 61, 26);
}
.links {
  width: 100%;
  height: auto;
  flex: 1;
  text-align: right;
}
.links ul li {
  list-style: none;
  display: inline-block;
  font-size: larger;
  position: relative;
  padding: 4px 10px;
}
.links ul li a {
  color: black;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: solid;
}
